{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'decor/style.css' %}" />
<title> About Instru-Rent </title>

<div class='container'>
 <ul>
    <center>
       <li><a href="http://localhost:8000/instrurent_app/rent" >Rent</a></li>
    <li><a href="http://localhost:8000/instrurent_app/index">About</a></li>

  </center>
  </ul>

<body class="aboutBody">
    <center>
        <h1><u>Instru-Rent</u></h1>
        </br>

        <div class="about">
            <h2>About Instru-Rent</h2>
            <h3>Instru-Rent is an instrument renting company from Water Valley, MS. The customer can rent out an instrument of their choice for up to 3 weeks!
        There are 10 different instruments on the site in all: pianos, acoustic guitars, electric guitars, conga sets, banjos, drum sets, violins, trumpets, saxophones, and clarinets. </h3>
            <button class="aboutRent" ><a href=""> Change this button link</a></button>
        </div>
        <br/>
    
    </center>

</body>
</div>
</html>
