{% load static %}

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'decor/style.css' %}" />
    <title> About Instru-Rent </title>
</head>

<div class='container'>
 <ul>
    <center>
       <li><a href="http://localhost:8000/instrurent_app/rent" >Rent</a></li>
    <li><a href="http://localhost:8000/instrurent_app/index">About</a></li>

  </center>
  </ul>

<body class="aboutBody">
    <center>
        <h1><u>Instru-Rent</u></h1>
        </br>

        <div class="about">
            <h2>About Instru-Rent</h2>
            <h3>Instru-Rent is an instrument renting company from Water Valley, MS. The customer can rent out an instrument of their choice for up to 3 weeks!
        There are 10 different instruments on the site in all: pianos, acoustic guitars, electric guitars, conga sets, banjos, drum sets, violins, trumpets, saxophones, and clarinets. </h3>
            <button class="aboutRent" ><a href=""> Change this button link</a></button>
        </div>
        <br/>
    
    </center>

</body>

</div>