{% load static %}

<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'decor/style.css' %}" />
<title> Inventory</title>
</head>

<div class="container">
  <ul>
    <center>
      <li><a href="" id="checkout" onclick="show_cart_total()"> Checkout</a></li>
    <li><a id="complete_total" >Cart</a></li>
      <li><a href="https://milttreonna.github.io/instrurent-page/instrurent" >Rent</a></li>
    <li><a href="https://milttreonna.github.io/instrurent-page/">About</a></li>

  </center>
  </ul>
  <br/>

<center>
<h1><u>Instru-Rent</u></h1>
{% if instruments %}
    {% for i in instruments %}

    <h2> {{i.instrument_choice}} </h2>
    <h4> {{i.instrument_quantity}} in stock</h4> 
    <p> {{ i.instrument_description }}</p>
    <h3>${{ i.instrument_price }}</h3>
           
           <form method='get' action="{%url 'instrurent:rent_item' i.id %}">
               <!--{% csrf_token %}-->
    <input class= "aboutRent" type="submit" value="Rent Item" name="add"/>
</form>
      <hr/>

    {% endfor %}


             {% else %}
<p>NONE</p>
{% endif %}
</center>
</div>