{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'decor/style.css' %}" />
<title> Inventory</title>
<center>
<h1><u>Instru-Rent</u></h1>
{% if instruments %}


<ul>
    {% for i in instruments %}
    
           <h3> {{i.instrument_choice}} : {{i.instrument_quantity}} in stock</h3> 
         
           <form method='get' action="{%url 'instrurent:rent_item' i.id %}">
               <!--{% csrf_token %}-->
    <input type="submit" value="Rent Item" name="add"/>
</form>
      

    {% endfor %}
</ul>
</center>
             {% else %}
<p>NONE</p>
{% endif %}



